# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.
# This workflow will build a Java project with Gradle and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-java-with-gradle

name: Java CI with Gradle

on:
  push:
    branches: [ "main" ]
#  pull_request:
#    branches: [ "main" ]

permissions:
  id-token: write
  contents: read

jobs:
  build-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: gradle

      - run: chmod +x ./gradlew

      - name: Build
        run: ./gradlew build -x test

      - name: Deploy with rsync
        uses: burnett01/rsync-deployments@master
        with:
          switches: -avz --delete
          path: build/libs/*.jar
          remote_path: /home/app/unveilApp/build
          remote_host: ${{ secrets.SSH_ADDR_1 }}
          remote_user: ${{ secrets.SSH_USER_1 }}
          remote_port: ${{ secrets.SSH_PORT_1 }}
          remote_key: ${{ secrets.SSH_PRIVATE_KEY }}
