# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.
# This workflow will build a Java project with Gradle and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-java-with-gradle

name: Java CI with Gradle

on:
  push:
    branches: [ "main" ]
#  pull_request:
#    branches: [ "main" ]

permissions:
  id-token: write
  contents: read

jobs:
  build-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: gradle

      - run: chmod +x ./gradlew

      - name: Build
        run: ./gradlew build -x test

      - name: SCP transfer
        uses: appleboy/scp-action@master
        with:
          username: ${{ secrets.SSH_USER_1 }}
          host: ${{ secrets.SSH_ADDR_1 }}
          password: ${{ secrets.SSH_PWD_1 }}
          port: ${{ secrets.SSH_PORT_1 }}
          source: 'build/libs/*.jar'
          target: '/home/app/unveilApp/build'
          strip_components: 2
          rm: true

      ## 내스크립트 실행
      - name: SCP transfer 1/Execute Server Init Script
        uses: appleboy/ssh-action@master
        with:
          username: ${{ secrets.SSH_USER_1 }}
          host: ${{ secrets.SSH_ADDR_1 }}
          password: ${{ secrets.SSH_PWD_1 }}
          port: ${{ secrets.SSH_PORT_1 }}
          script: | 
            cd /home/app/unveilApp
            sh ./stop.sh
            sh ./start.sh
